<main>
    <img src="~/imagenes/selfie.jpg" class="img1">
    <br>
    <br>
    <hr class="hr1">
    <br>
    <div class="con2">
        <div class="cuadro-mapa">
            <h2>Conócenos</h2>
        </div>
        <br>
        <p class="text">
            El 23 julio de 2024, dimos vida a nuestra revolucionaria plataforma, diseñada para transformar la experiencia del estacionamiento. Con nuestra solución, encontrarás fácilmente parqueaderos cercanos y podrás reservar tu espacio en segundos. Pero no solo eso: puedes disfrutar de una gama de servicios adicionales como lavado de vehículos, mantenimiento, así como la posibilidad de reservar guardaequipaje o comprar algunos productos. Nuestra misión es simplificar tu vida y hacer que cada visita al parqueadero sea más rápida y sin preocupaciones.
            <br><strong>¡Estacionar es un arte, y nosotros somos los maestros!</strong><br>
        </p>
    </div>
</main>
